{% extends "index.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-cvindexpage{% endblock %}

{% block content %}

<div class="card">

  {% comment %} <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://storage.googleapis.com/axial-sight-333201-images/images/Screenshot_2021-11-27_at_00.29.08.original.png" alt="Placeholder image">
    </figure>
  </div> {% endcomment %}

<section class="hero">
  <div class="hero-body">
    <p class="title">
      <img src="https://storage.googleapis.com/axial-sight-333201-images/images/tiger-blue-logo.original.png">
    </p>
    <p class="subtitle">
      Secure cloud-native applications
    </p>
  </div>
</section>


  <div class="card-content">

    <div class="media">

      <div class="media-left">
        <figure class="image is-128x128">
        {% image page.main_image fill-260x320  %}
        </figure>
      </div>

      <div class="media-content">
        <h1 align=right class="title is-2">{{page.title}}</h1>
        <p align=right class="subtitle is-6">{{page.location}}</p>
      </div>

    </div> <!-- close media div -->

        <div class="content">
            <h5 class="subtitle" align=right><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <a href="mailto:{{ page.email }}"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg></a>
            <a href="{{ page.linkedin }}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg></a>
            <a href="{{ page.related_document.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-pdf" viewBox="0 0 16 16">
            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
            </svg></a>
            </h5>
        </div> <!-- close content div-->

  </div> <!-- close card-content div-->



    <div class="box">{{ page.intro|richtext }}</div>
    <div class="block">
    <h2 class="subtitle">Career Summary</h2>
    </div>

    {% for cv in cvpages %}

        {% with cv=cv.specific %}

            <div class="box">
                <article class="media">

                    <div class="media-left">

                        <figure class="image is-64x64">

                        {% with cv.main_image as main_image %}
                            {% if main_image %}
                                {% image main_image fill-128x128 %}
                            {% else %}
                                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                            {% endif %}

                        {% endwith %}

                        </figure>

                    </div> <!-- close media-left div-->

                    <div class="media-content">

                        <div class="content">
                            <p>
                            {{ cv.start_date }} <i class="fas fa-long-arrow-alt-right"></i> {{ cv.stop_date }}<br>
                                <a href="{% pageurl cv %}"><strong>{{cv.intro}}</strong> - {{cv.title}}, {{cv.location}}</a><br>
                                <div class="content">{{ cv.body|richtext }}</div>
                            </p>
                            </div>
                        </div>




                    </div> <!-- close media-content div-->

                </article><!-- close media article -->

            </div> <!-- close box div -->

        {% endwith %}

    {% endfor %}

   <h3 class="subtitle">Education</h3>

    <div class="box">
        <article class="media">

            <div class="media-left">

                <figure class="image is-64x64">
                <img src="https://storage.googleapis.com/axial-sight-333201-images/images/Screenshot_2021-11-27_at_22.15.34.original.png" alt="Image">
                </figure>

            </div>

         <div class="media-content">

            <div class="content">
                    <p><b>{{page.degree}} </b><br>
                    {{ page.degree_description|richtext }}
                    </p>
            </div>

         </div> <!-- close media-content div-->

    </article>
    </div>





    <h3 class="subtitle">Skills</h3>

    <div class="box">
        <article class="message">
        <div class="content">{{ page.skills|richtext }}</div>
        </article>


    </div>






    <h3 class="subtitle">Certification, Standards and Frameworks</h3>

    <div class="box">
        <div class="content">{{ page.scsf|richtext }}</div>
    </div>


    <BR>

        {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'cv-tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}