{% extends "index.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-cvpage{% endblock %}

{% block content %}


            <div class="box">
                <article class="media">

                    <div class="media-left">

                        <figure class="image is-64x64">

                        {% with page.main_image as main_image %}
                            {% if main_image %}
                                {% image main_image fill-128x128 %}
                            {% else %}
                                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                            {% endif %}

                        {% endwith %}

                        </figure>

                    </div> <!-- close media-left div-->

                    <div class="media-content">

                        <div class="content">
                            <p>
                            {{ page.start_date }} to {{ page.stop_date }}<br>
                                <strong>{{page.intro}}</strong> - {{page.title}}, {{page.location}}<br>
                                <div class="content">{{ page.body|richtext }}</div>
                            </p>
                            </div>
                        </div>




                    </div> <!-- close media-content div-->

                </article><!-- close media article -->

            </div> <!-- close box div -->




    <div class="box">

        {{ page.details|richtext }}

    </div>

    <div class="box">
    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Categories:</h3><br>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        {% image category.icon fill-32x32 style="vertical-align: middle" %}
                        {{ category.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>

    <div class="box">
    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags:</h3><br>
            <ul>
            {% for tag in page.tags.all %}
                <li style="display: inline">
                <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <div align=right class="box">
    <button class="button is-primary"><a href="{{ page.get_parent.url }}">Return to CV</a></button>

    </div>
{% endblock %}
