{% extends "index.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for cvpage in cvpages %}

          <p>
              <strong><a href="{% pageurl cvpage %}">{{ cvpage.title }}</a></strong><br />
              <small>Revised: {{ cvpage.latest_revision_created_at }}</small><br />
              {% if cvpage.author %}
                <p>By {{ cvpage.author.profile }}</p>
              {% endif %}
          </p>

    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}