{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tiger Blue</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'custom.css' %}">
        {% comment %} <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎲</text></svg>">
         {% endcomment %}
         <script src="https://kit.fontawesome.com/02faa7d578.js" crossorigin="anonymous"></script>
</head>
<body>

                    {% block content %}
                    {% endblock %}

        <footer class="footer">
            <div class="content has-text-centered">

            </div>
        </footer>
    </body>
</html>
